html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(270deg, #2a3c40, #374f53, #416063, #4d747b, #4f839a, #6bacca, #8bd0e2, #8cc1b9, #6f8b7c);
    background-size: 1800% 1800%;
    -webkit-animation: BackgroundFade 20s ease infinite;
    -moz-animation: BackgroundFade 20s ease infinite;
    animation: BackgroundFade 20s ease infinite;
}

@-webkit-keyframes BackgroundFade {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes BackgroundFade {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes BackgroundFade {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.hide {
    opacity: 0
}

.show {
    opacity: 1;
}

/*======MENU=====*/
div.menu {
    width: 12%;
    height: 100%;
    position: fixed;
    float: left;
    background-color: #99CC99;
    -webkit-box-shadow: 10px 6px 25px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 6px 25px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 6px 25px -6px rgba(0, 0, 0, 0.75);

}

div.ham {
    display: inline-block;
    width: 35%;
    margin-top: 5vh;
    margin-left: 30%;
    margin-right: 30%;
}

.bar1, .bar2, .bar3 {
    text-align: center;
    margin: auto;
    width: 35px;
    height: 5px;
    background-color: #333;
    margin-top: 6px;
    transition: 0.4s;
}

div.menu-butts {
    margin: auto;
    text-align: center;
}

p.menu-select {
    width: 98%;
    transition-property: width, background-color;
    transition-duration: 1s;
    font-size: 120%;
    padding-left: 2%;
}

p.menu-select:hover {
    font-weight: bold;
    background-color: #CCFF66;
    color: #3300CC;
    border-radius: 3%;
    font-weight: bold;
}

a.link:link {
    text-decoration: none;
    color: #000;
}

a.link:visited {
    text-decoration: none;
    color: #000;
}

a.link:hover {
    text-decoration: none;
    color: #000;
}

input.logout {
    text-align: center;
    width: 80%;
    height: 5%;
    transition-property: background-color;
    transition-duration: 1s;
    font-size: 100%;
    margin-top: 25%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 3%;
    border: 3px solid #FFF;
    color: #FFF;
    background-color: #336666;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

input.logout:hover {
    -webkit-box-shadow: 10px 6px 25px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 6px 25px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 6px 25px -6px rgba(0, 0, 0, 0.75);
    background-color: #66CCFF;
    font-weight: bold;
}

/*=============================*/
/*=======ZAWARTOSC=======*/
div.content {
    width: 88%;
    height: 97%;
    margin-left: 12%;
    float: left;
}

div.box1 {
    width: 100%;
    height: 90%;
}

h1.h1 {
    text-align: center;
    font-weight: bold;
    font-size: 85px;
    color: #FFF;
}

div.goto {
    text-align: center;
    width: 20%;
    transition-property: background-color;
    transition-duration: 1s;
    font-size: 100%;
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    border: 3px solid #FFF;
    color: #FFF;
    background-color: #336666;
    border-radius: 5px;
}

div.goto:hover {
    -webkit-box-shadow: 10px 6px 25px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 6px 25px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 6px 25px -6px rgba(0, 0, 0, 0.75);
    background-color: #66CCFF;
    font-weight: bold;
}

p.first-text {
    font-size: 150%;
    text-align: center;
    color: #FFF;
}

div.foot {
    float: right;
    text-align: center;
    width: 88%;
    height: 3%;
    font-size: 150%;
    color: #FFF;
    background-color: #666666;
    -webkit-box-shadow: 2px 0px 32px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 0px 32px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 0px 32px 0px rgba(0, 0, 0, 0.75);
}