/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: 3px solid #FFF;
    color: #FFF;
    background-color: #336666;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    background-image: none;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select */
.select {
    position: relative;
    display: flex;
    line-height: 2.5;
    width: 30%;
    height: 4.7%;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
    float: left;
    font-family: 'Raleway', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}