.container {
    float: left;
    width: 30%;
    height: 10%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

label {
    text-align: center;
    word-wrap: break-word;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
}

.hidden, #uploadImg:not(.hidden) + label {
    display: none;
    font-family: 'Raleway', sans-serif;
}

#file {
    display: none;
    font-family: 'Raleway', sans-serif;
}

#upload {
    display: block;
    float: left;
    border: 3px solid #FFF;
    font-size: 15px;
    letter-spacing: 0.05em;
    width: 60%;
    height: 30%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    padding-bottom: 1%;
    cursor: pointer;
    background: #216e69;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    font-family: 'Raleway', sans-serif;
    transition-property: background-color;
    transition-duration: 1s;
}

#upload:hover {
    background-color: #66CCFF;
    font-weight: bold;
}

&
:active {
    background: #13D4C8;
    font-family: 'Raleway', sans-serif;
}

}

img {
    max-width: 5%;
    display: block;
    margin: auto;
    margin-bottom: 4%;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
}
